.layout{
    background-color: #f0eeec;
}


.main{
    background: linear-gradient(to right, #F07F1A, #FFD3AD);

    height: 45vh;
    display: flex;
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
   
   
    
}
.main1{
    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    height: 50vh;
    width: 100%;
}

.main2{
    height: 50vh;
    display: flex;      
    padding: 0;
}
.heading1{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}


.headingimage{
    width: 90px;
    height: 50px;
    margin-top: 2rem;
    margin-right: 1rem;


}
.graph{
   display: flex;
   flex-direction: row;
   justify-content: center;
    margin-top: 2rem;   

    
}
.linegraph{
    margin-left: 4rem;
}
.notes{
    margin-left: 1.5rem;
}
    